.navbar {
  background-color: transparent;
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 1;
  margin-top: 30px;
}

.navbar-brand {
  margin-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 10px;
  margin-top: 15px;
}

.logo {
  height: 5rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.nav-link:hover,
.nav-link:active {
  color: #334376;
  font-weight: 700;
}

.nav-link.active,
.nav-link.active:link,
.nav-link.active:visited {
  color: #334376;
  font-weight: 700;
}

.hero-section {
  margin: 0;
  padding: 0;
}

.img-homepage {
  position: relative;
  text-align: left;
  margin: 0;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to top right,
      rgba(30, 30, 30, 0.45),
      rgba(30, 30, 30, 0.05)
    ),
    url("/images/cover_HomePage.png");
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  max-width: 700px;
  margin-left: 160px;
  margin-top: 120px;
  border-radius: 10px;
}

.hero-description {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: white;
}

.btn.btn-unstyled {
  background-color: #334376;
  color: inherit;
  box-shadow: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 22px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.btn--full:link,
.btn--full:visited {
  background-color: #334376;
  color: white;
}

.btn--full:hover,
.btn--full:active {
  background-color: #5f8fc6;
}

.album-beige .about {
  position: relative;
}

.container-aboutUs {
  display: flex;
  position: relative;
  z-index: 2;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
}

.img-base {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.img-square {
  width: 50%;
  z-index: 3;
}

.text-aboutUs {
  color: #334376;
  font-size: 28px;
  line-height: 1.6;
  font-weight: 400;
  width: 34%;
  z-index: 3;
}

.album-blue .community {
  position: relative;
}

.container-community {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 8%;
  justify-content: space-between;
  align-items: center;
}

.container-community .text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-community {
  color: white;
  font-size: 28px;
  line-height: 1.6;
  font-weight: 400;
  z-index: 3;
  padding-bottom: 35px;
}

.link-white {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: auto;
}

.link-white:hover {
  color: #334376;
}

.player {
  aspect-ratio: 16/9;
  width: 58%;
}

.mySwiper {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}

.swiper-pagination-bullet-active {
  background-color: #334376;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.swiper-pagination {
  margin-top: 15px;
}

.blog-card {
  width: 28rem;
  border-radius: 22px;
  border: transparent;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  min-height: 28rem;
  position: relative;
}

.card-body-blog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  text-align: left;
}

.card-title {
  color: #334376;
  font-weight: 600;
  padding: 15px;
}

.blog-homepage {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  padding-left: 40px;
}

.card-img-top {
  border-radius: 22px 22px 0 0;
}

.blog-card:hover .card-img-top {
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.newsletter {
  padding: 80px 0;
  background: linear-gradient(
      to top right,
      rgba(30, 30, 30, 0.3),
      rgba(30, 30, 30, 0.2)
    ),
    url("/images/NEWSLETTER (1).png") center center/cover no-repeat;
  background-position: right center;
}

.content-newsletter {
  padding-bottom: 25px;
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.content-newsletter h2 {
  color: white;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 0;
}

.newsletter-text {
  color: white;
  line-height: 1.8;
}

.newsletter .form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 48px;
  margin-right: 10px;
  min-width: 150px;
  width: 350px;
}

.instagram-container {
  padding-top: 100px;
  padding-bottom: 180px;
  text-align: center;
  align-items: center;
}

.link-instagram {
  display: block;
  margin-bottom: 25px;
  color: #334376;
  text-decoration: none;
}

.instagram-photo {
  width: 250px;
  padding: 10px;
}

.instagram-photo:hover {
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.img-aboutpage {
  position: relative;
  text-align: left;
  margin: 0;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to top right,
      rgba(101, 54, 12, 0.3),
      rgba(19, 66, 102, 0.35)
    ),
    url("/images/cover_AboutPage.jpg");
  background-size: cover;
  background-position: center;
}

.img-aboutUs {
  width: 80%;
  z-index: 2;
  position: relative;
}

.container-text-aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-aboutUs-Page {
  position: relative;
  z-index: 2;
  color: #334376;
  font-size: 22px;
  line-height: 2;
  font-weight: 400;
  z-index: 3;
  padding-top: 25px;
}

.container-ourVision {
  position: relative;
  padding: 100px 10% 250px 10%;
  text-align: center;
}

.container-ourVision img {
  width: 100%;
  height: auto;
  display: block;
}

.container-text-Mission {
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #f4efede0;
  padding: 45px;
  width: 40%;
  margin-left: 320px;
}

.text-mission {
  color: #334376;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 400;
}

.img-communitypage {
  position: relative;
  text-align: left;
  margin: 0;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to top right,
      rgba(70, 70, 70, 0.25),
      rgba(90, 85, 45, 0.35)
    ),
    url("/images/cover_CommunityPage.png");
  background-size: cover;
  background-position: center;
}

.row-crew {
  width: 100%;
}

.col-card-crew {
  text-align: center;
  padding-bottom: 40px;
}

.card-crew {
  background-color: white;
  padding: 30px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  border: transparent;
  width: 22rem;
  margin: 0 auto;
}

.link-instagram-container {
  display: block;
  color: #334376;
  text-decoration: none;
}

.player-group {
  aspect-ratio: 16/9;
  width: 30%;
  padding: 15px;
}

.img-eventspage {
  position: relative;
  text-align: left;
  margin: 0;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to top right,
      rgba(30, 30, 30, 0.25),
      rgba(47, 47, 157, 0.35)
    ),
    url("/images/cover_EventPage.jpeg");
  background-size: cover;
  background-position: center;
}

.carousel-events {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #5f8fc6;
}

.title-events {
  width: 80%;
  margin: auto;
}

.past-events {
  width: 75%;
  margin: auto;
}

.calendar-events {
  background-color: #f4efed;
  padding-bottom: 200px;
  padding-top: 100px;
}

.container-block-event {
  width: 80%;
  margin: auto;
}

.row-block-event {
  position: relative;
  align-items: center;
  padding-bottom: 80px;
}

.card-event {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0px 0px 16px 0px rgba(187, 187, 187, 0.48);
}

.coluna-1 {
  position: relative;
}

.img-event {
  width: 80%;
  border-radius: 22px 0 0 22px;
}

.events-date {
  text-align: center;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #5f8fc6;
  padding: 12px 20px 12px 20px;
  text-transform: uppercase;
}

.event-day {
  font-size: 28 px;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
}

.event-month {
  font-size: 18 px;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
}

.coluna-2 {
  margin: auto;
  padding-left: 35px;
  padding-right: 35px;
}

.list-event-details {
  padding: 0;
}

.event-title {
  text-decoration: none;
  font-weight: 600;
  color: #334376;
  padding-bottom: 25px;
}

.event-details {
  color: #334376;
  line-height: 2;
  list-style: none;
}

.event-description {
  color: #334376;
  line-height: 1.5;
  padding-top: 25px;
  padding-bottom: 45px;
}

.event-link {
  padding-bottom: 25px;
  font-size: 15px;
}

.img-blogpage {
  position: relative;
  text-align: left;
  margin: 0;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to top right,
      rgba(117, 78, 28, 0.25),
      rgba(44, 82, 132, 0.25)
    ),
    url("/images/cover_BlogPage.jpg");
  background-size: cover;
  background-position: center;
}

.align-items-stretch {
  display: flex;
  flex-wrap: wrap;
}

.col-blog {
  padding-bottom: 20px;
}

.col-blog-gr {
  padding-bottom: 20px;
}

.card-blog-section {
  border-radius: 22px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  border: transparent;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-blog-section:hover .card-image img {
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.card-image {
  position: relative;
}

.card-image img {
  border-radius: 22px 22px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixed-height-image {
  height: 500px;
}

.card-image .post-info {
  position: absolute;
  right: 0;
  padding-top: 20px;
  padding-right: 20px;
}

.card-image .post-info span {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  background-color: #5f8fc6;
  color: #fff;
}

.card-body {
  padding: 25px 35px 35px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  text-align: left;
}

.post-meta {
  padding-left: 0;
}

.post-meta li {
  list-style-type: none;
  display: inline-block;
  color: #888;
  font-weight: 500;
}

.post-meta li a {
  display: inline-block;
  background-color: #f4efed;
  border-radius: 6px;
  color: #334376;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 14px;
}

.post-meta li a:hover {
  background-color: #5f8fc6;
  color: white;
}

.post-title {
  color: #334376;
  display: inline;
  text-decoration: none;
}

.card-text {
  color: #334376;
  font-size: 16px;
  padding-bottom: 10px;
}

.read-more-btn {
  color: #334376;
  font-size: 16px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
}

.content a {
  position: inline;
  bottom: 0;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(#5f8fc6, #5f8fc6);
  background-position: 0% 110%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  transition: 0.3s;
}

.content a:hover {
  color: white;
  background-size: 120% 120%;
}

.pagination {
  justify-content: center;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  border: transparent;
  text-align: center;
  margin: 0 4px;
  font-weight: 500;
  color: #334376;
  padding: 0;
  line-height: 41px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.pagination .page-item .page-link:focus,
.pagination .page-item .page-link:hover {
  box-shadow: none;
  background: #5f8fc6;
  color: #fff;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border-radius: 0;
}

.pagination .page-item.active .page-link {
  background: #5f8fc6;
  color: #fff;
  border-color: #5f8fc6;
}

.img-contactpage {
  position: relative;
  text-align: left;
  margin: 0;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to top right,
      rgba(46, 20, 82, 0.3),
      rgba(99, 78, 38, 0.1)
    ),
    url("/images/cover_ContactPage.png");
  background-size: cover;
  background-position: center;
}

.container-form {
  background-color: white;
  width: 58%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 70px 50px 40px 50px;
  border-radius: 22px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.form-label {
  color: #333;
  font-size: 15px;
}

.required {
  color: red;
}

.form-check {
  align-items: center;
  margin-bottom: 20px;
}

.form-check-label {
  color: #6f6f6f;
  font-size: 13px;
  align-items: center;
  padding-top: 6px;
}

.message {
  width: 100%;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.message .success {
  font-size: 16px;
  font-weight: 600;
  color: #198754;
  position: absolute;
  animation: buttons 0.3s linear;
  display: none;
}

.message .danger {
  font-size: 16px;
  font-weight: 600;
  color: #dc3545;
  position: absolute;
  transition: 0.3s;
  animation: buttons 0.3s linear;
  display: none;
}

@keyframes buttons {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.row-card-contact {
  width: 60%;
  margin: 0 auto;
}

.col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 250px;
}

.card-contact {
  background-color: white;
  padding: 30px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  border: transparent;
  width: 27rem;
  height: 100%;
}

.round-img {
  width: 90%;
}

.volunteer-text-box {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.6;
}

.img-description {
  color: #333;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 323px;
  background-color: #5f8fc6;
}

.footer {
  position: relative;
  width: 100%;
  background: #5f8fc6;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.footer-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding-left: 0;
}

.footer-menu {
  margin-bottom: 75px;
}

.social-icon li,
.footer-menu li {
  list-style: none;
}

.social-icon li a {
  font-size: 2rem;
  color: #e8f2f3;
  margin: 0 20px;
  display: inline-block;
  transition: all 0.3s;
}

.social-icon li a:hover {
  color: #334376;
}

.footer-menu li a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #e8f2f3;
  margin: 0 20px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-menu li a:hover {
  color: #334376;
  font-weight: 400;
}

hr {
  border: none;
  height: 1px;
  background-color: #e8f2f3;
  margin: 0;
  width: 120%;
}

.copyright {
  color: #e8f2f3;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/images/wave.png");
  background-size: 1000px;
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15;
  animation: animateWave 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

.background-error-img,
.error-img-404 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.error-img-404 {
  z-index: 1;
  pointer-events: none;
}

.error-page p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 32px;
  line-height: 1.6;
}

.error-page .btn--full {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff73;
  color: #334376;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.error-page .btn--full:hover {
  background-color: #334376;
  color: white;
}

@media (max-width: 991px) {
  /* Media Query geral */
  .sidebar {
    background-color: #5f8fc6;
    backdrop-filter: blur(10px);
  }

  .logo {
    max-height: 4.5rem;
  }

  .navbar-nav .nav-link {
    box-sizing: border-box;
  }

  .nav-link {
    padding: 25px;
    text-align: center;
  }

  .offcanvas {
    width: 100% !important;
  }

  .offcanvas-body {
    width: 100%;
  }

  .offcanvas-backdrop {
    display: block;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding-left: 1rem;
  }

  .navbar-nav .nav-item {
    display: block;
    text-align: center;
  }

  .hero-text-box {
    max-width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .hero-description {
    display: none;
  }

  .container-aboutUs {
    flex-direction: column;
    align-items: center;
  }

  .img-square {
    width: 100%;
    padding-bottom: 50px;
  }

  .text-aboutUs {
    width: 90%;
    margin: 0;
  }

  .img-base {
    width: 220%;
    height: 550px;
  }

  .container-community {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }

  .container-community .text {
    width: 90%;
    padding-bottom: 65px;
  }

  .text-community {
    margin: 0;
  }

  .player {
    width: 100%;
  }

  .newsletter {
    background-position: right 10% center;
  }

  .row-newsletter {
    margin-left: auto;
    margin-right: auto;
  }

  .instagram-container h2 {
    max-width: 80%;
    padding-bottom: 35px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
  }

  .link-instagram {
    font-size: 20px;
    margin-bottom: 35px;
  }

  .instagram-photo {
    padding: 6px;
    width: 45%;
  }

  .img-aboutUs {
    margin-bottom: 100px;
  }

  .text-aboutUs-Page {
    padding-top: 0;
    width: 100% !important;
  }

  .col-exist {
    width: 100%;
    margin-bottom: 20px;
  }

  .row-exist {
    width: 100%;
  }

  .col-exist img {
    padding-top: 30px;
  }

  .container-text-Mission {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-left: 0px;
    width: 100%;
    margin-top: 40px;
  }

  .videos {
    padding-top: 0px !important;
  }

  .photo-gallery .col-lg-3 {
    width: 50%;
    margin-bottom: 0px;
  }

  .past-events {
    width: 100%;
  }

  .card-event {
    flex-direction: column;
  }

  .img-event {
    width: 100%;
    border-radius: 22px 22px 0 0;
  }

  .coluna-2 {
    margin-bottom: 50px;
  }

  .post-meta li {
    padding-bottom: 10px;
  }

  .container-form {
    width: 90%;
  }

  .col-md-12 textarea {
    height: 120px;
  }

  .container-cards-contact {
    padding-bottom: 250px;
  }

  .card-contact {
    width: 85%;
  }

  .row-card-contact {
    width: 100%;
    margin: 0px;
  }

  .col-sm-6 {
    margin-top: 100px;
    margin-bottom: 0px;
  }

  .volunteer-text-box h3 {
    padding-right: 42px;
    padding-left: 42px;
  }

  .error-img-404 {
    width: 195%;
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Media Query for TABLETS Ipads portrait mode */
  .nav-link {
    font-size: 2rem !important;
    padding: 35px;
  }

  .mySwiper {
    width: 95%;
  }

  .blog-card {
    min-height: 27rem;
  }

  .swiper-slide {
    width: 23rem !important;
  }

  .row-newsletter {
    max-width: 50%;
  }

  .col-exist img {
    width: 90% !important;
  }

  .col-card-crew {
    width: 50%;
  }

  .card-crew {
    width: 100%;
  }

  .card-crew .volunteer-text-box {
    margin: 40px 0 0 0;
  }

  .player-group {
    width: 48%;
  }

  .card-event {
    width: 60%;
  }

  .coluna-1 {
    width: 100%;
    margin-bottom: 60px;
  }

  .coluna-2 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .col-blog-gr {
    width: 100%;
    flex: 0 0 100%;
  }

  .col-blog {
    width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 767px) {
  /* Media Query for MOBILE Devices */
  .heading-primary {
    font-size: 2.8rem !important;
    line-height: 1.2 !important;
    margin-bottom: 1.6rem;
  }

  .heading-secondary {
    font-size: 2.2rem !important;
    line-height: 1.5 !important;
  }

  .text-aboutUs {
    font-size: 22px;
  }

  .text-community {
    font-size: 22px;
  }

  .link-white {
    font-size: 26px;
  }

  .blog-card {
    min-height: 25rem;
  }

  .swiper-slide {
    width: 20rem !important;
    margin-right: 0;
    margin-left: 30px;
  }

  .row-newsletter {
    max-width: 90%;
  }

  .newsletter .form-inline {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .newsletter form .form-control {
    width: 100%;
    min-width: 300px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .text-aboutUs-Page {
    font-size: 18px;
  }

  .img-aboutUs {
    width: 100%;
  }

  .container-text-Mission {
    padding: 0px;
  }

  .text-mission {
    font-size: 18px;
  }

  .card-crew {
    width: 100%;
  }

  .player-group {
    width: 100%;
  }

  .photo-gallery .col-lg-3 {
    padding: 0 8px 0 8px;
  }

  .carousel-events {
    padding-top: 80px;
  }

  .card-event {
    flex-direction: column;
    width: 80%;
  }

  .title-events h2 {
    margin-bottom: 0 !important;
  }

  .coluna-1 {
    margin-bottom: 40px;
  }

  .coluna-2 {
    padding: auto;
  }

  .card-body h3 {
    font-size: 1.6rem;
  }

  .footer-menu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-menu li {
    margin: 15px 0;
  }

  .error-page p {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .row-crew {
    width: 80%;
  }
}
